.nav-item{
    margin: 0px 0px 0px 60px;
    font-family: 'nunito';
	src: url('../fonts/Nunito-Regular.ttf');
    font-style: normal;
    font-size:120%;
    }
.nav-item a:hover{ 
    background-color: #4e85de;
     border-radius: 5px;
    }
